body {
    background: linear-gradient(to bottom, #1b1b56, #786deb)
}

.night{
    background-color: black;
}

html,
body {
    height: 100vh;
    background: linear-gradient(to bottom, #1b1b56, #786deb);

}

.card {

    display: flex;
    margin: 1%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: cursive;

}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body,
.card-header,
.card-footer {
    width: 100%
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    border: none;
    font-weight: bold;
    color: #46419b;
    font-family: cursive;

}

label {
    color: #46419b;
    font-family: cursive;
}

.required {
    border-color: red;
}

.wrapper {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 60%;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
}

.login-title {
    border: none;
    font-weight: bold;
    color: #46419b;
    font-family: cursive;

    text-align: center;

}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-button{
    border-radius: 54px;
    background-color: #5952b9;
    color: white;

}

.account-button:hover{
    background-color:#8682be ;
}

.reset-button:hover,
.signup-button:hover {
    font-weight: bold;
    color: #5952b9;
    text-decoration: underline;
}

.reset-button,
.signup-button {
    color: #4c43c5;
}

.page {
    display: flex;
    justify-content: center;

}
