
<div class="page">
    <div class="wrapper">
        <div class="card row">

            <!-- Centered Title -->
            <div class="title col-12 text-center mb-3" style="font-size: 2rem;">
                Login
            </div>
            <div [formGroup]="loginForm">

                <!-- Email -->
                <div class="mb-3 mt-1 col-12"
                    [class.required]="this.loginForm.get('Email')?.touched && !this.loginForm.get('Email')?.invalid">
                    <label for="exampleFormControlInput1"
                        class="form-label">Email
                        address</label>
                    <input type="email" class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="name@example.com"
                        formControlName="Email">
                </div>

                <!-- Password -->
                <div class="mb-3 mt-1 col-12"
                    [class.required]="this.loginForm.get('Password')?.touched && !this.loginForm.get('Password')?.invalid">
                    <label for="inputPassword"
                        class="form-label">Password</label>
                    <input type="password" class="form-control"
                        id="inputPassword"
                        formControlName="Password">
                </div>

                <!-- Forgot Password Button (Centered) -->
                <div class="mb-3 col-12 text-center ">
                    <button type="button" class="btn reset-button"
                        [routerLink]="['/forgot-password']">Forgot my
                        password</button>
                    <br>
                    <button type="button" class="btn signup-button" (click)="signUpPage()">Dont have an
                        account? Signup</button>

                </div>

                <!-- Login Button (Centered) -->
                <div class="mb-3 col-12 text-center">
                    <button type="button"
                        class="btn account-button"
                        (click)="login()">Login</button>
                </div>

            </div>
        </div>

    </div>
</div>
