
<div class="login-page">
    <div class="login-wrapper">
        <div class="login-card row">

            <!-- Centered Title -->
            <div class="title col-12 text-center mb-3" style="font-size: 2rem;">
                Login
            </div>

            <!-- Email -->
            <div class="mb-3 mt-1 col-12">
                <label for="exampleFormControlInput1" class="form-label">Email
                    address</label>
                <input type="email" class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="name@example.com">
            </div>

            <!-- Password -->
            <div class="mb-3 mt-1 col-12">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword">
            </div>

            <!-- Forgot Password Button (Centered) -->
            <div class="mb-3 col-12 text-center ">
                <button type="button" class="btn reset-button">Forgot my
                    password</button>
                <br>
                <button type="button" class="btn signup-button">Dont have an
                    account? Signup</button>

            </div>

            <!-- Login Button (Centered) -->
            <div class="mb-3 col-12 text-center">
                <button type="button" class="btn login-button">Login</button>
            </div>

        </div>
    </div>
</div>
