
<div class="page">
    <div class="wrapper">
        <div class="card row">

            <!-- Centered Title -->
            <div class="title col-12 text-center mb-3" style="font-size: 2rem;">
                Reset password
            </div>
            <div [formGroup]="resetPasswordForm">

                <!-- current password -->
                <div class="mb-3 mt-1 col-12"
                    [class.required]="this.resetPasswordForm.get('CurrentPassword')?.touched && this.resetPasswordForm.get('CurrentPassword')">
                    <label for="CurrentPassword"
                        class="form-label">Current Password</label>
                    <input type="password" class="form-control"
                        id="CurrentPassword"
                        formControlName="CurrentPassword">
                </div>

                <!--  new Password -->
                <div class="mb-3 mt-1 col-12"
                    [class.required]="this.resetPasswordForm.get('NewPassword')?.touched && this.resetPasswordForm.get('NewPassword')">
                    <label for="NewPassword"
                        class="form-label">New Password</label>
                    <input type="password" class="form-control"
                        id="NewPassword"
                        formControlName="NewPassword">
                </div>

                <!-- reset Button (Centered) -->
                <div class="mb-3 col-12 text-center">
                    <button type="button"
                        class="btn account-button"
                        (click)="resetPassword()">Reset</button>
                </div>

            </div>
        </div>

    </div>
</div>
