
<div class="page">
    <div class="wrapper">
        <div class="card row">

            <!-- Centered Title -->
            <div class="title col-12 text-center mb-3" style="font-size: 2rem;">
                Reset password
            </div>
            <div [formGroup]="resetForm">

                <!-- Email -->
                <div class="mb-3 mt-1 col-12"
                    [class.required]="this.resetForm.get('Email')?.touched && this.resetForm.get('Email')?.invalid">
                    <label for="exampleFormControlInput1"
                        class="form-label">Email
                        address</label>
                    <input type="email" class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="name@example.com"
                        formControlName="Email">
                </div>

                <!-- Password -->
                <div class="mb-3 mt-1 col-12"
                    [class.required]="this.resetForm.get('HashedPassword')?.touched && this.resetForm.get('HashedPassword')?.invalid">
                    <label for="inputPassword"
                        class="form-label">New Password</label>
                    <input type="password" class="form-control"
                        id="inputPassword"
                        formControlName="HashedPassword">
                </div>

                <!-- reset Button (Centered) -->
                <div class="mb-3 col-12 text-center">
                    <button type="button"
                        class="btn login-button account-button"
                        (click)="reset()">Reset</button>
                </div>

            </div>
        </div>

    </div>
</div>
