
<div class="card-container">
    <div class="card" style="width: 76rem;">
        <div class=" card-title-container title" style="    width: 98%;">
            <div class="task-card ">
                <div class="task-title ms-1" style="font-size: 2rem;">Your Tasks
                    :</div>

                <button type="button" class="btn btn-outline-light"
                    data-bs-toggle="modal" data-bs-target="#addModal"
                    title="Add Task">
                    <i class="bi bi-plus-circle"
                        style="font-size: 2rem; color: #6259c7;"
                        tool></i>

                </button>
            </div>
        </div>
        <div class="tasks-list">
            @for(task of Tasks | paginate : paginationConfig ; track task)
            {

            <div class="card" style="    width: 98%;">
                <!-- card header -->
                <div class="card-header">

                    <div class="task-title ms-1">
                        <h3>{{task.Name}}</h3></div>
                    <div class="btn-group" role="group"
                        aria-label="Basic mixed styles example">

                        <button type="button" class="btn"
                            style="color: rgb(30, 207, 30);"><i
                                class="bi bi-check-circle"
                                (click)="finishTask(task.Id)"
                                title="Done"></i> </button>

                        <button type="button" class="btn "
                            (click)="PatchForm(task.Id)"
                            data-bs-toggle="modal"
                            data-bs-target="#addModal"> <i
                                class="bi bi-pen"
                                title="Edit"></i></button>

                        <button type="button" class="btn "
                            style="color: red;" (click)="deleteTask(task.Id)">
                            <i
                                class="bi bi-trash"
                                title="Delete"></i></button>

                    </div>

                </div>
                <!-- card body -->
                <div class="card-body" [class.done]="task.IsComplete ">
                    <span><strong>Description:</strong>
                        {{task.Description}}</span>
                </div>
                <!-- card footer -->
                <div class="card-footer" [class.done]="task.IsComplete ">
                    <div class="due-date">Due: {{task.DeadLine |
                        date:"dd/MM/yyyy"}} </div>
                    <div class="priority"> Priority:
                        <span [class.high]="task.PriorityId == 1"
                            [class.medium]="task.PriorityId == 2"
                            [class.low]="task.PriorityId == 3">
                            {{task.PriorityName}}
                        </span>

                    </div>
                    @if (task.IsComplete )
                    { <div class="status ">Status:
                        <span class="complete">Completed </span></div>}
                    @else {
                    <div class="status ">Status:
                        <span class="in-progress">In progress </span></div>
                    }
                </div>
            </div>

            }
        </div>
        <div class="pagination-wrapper">
            <pagination-controls
                (pageChange)="changePage($event)"></pagination-controls>
        </div>

    </div>
</div>

<!--  --Add modal-->
<div class="modal" tabindex="-1" id="addModal">
    <div class="modal-dialog modal-xl modal-dialog-centered addModal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" style="font-size: 2rem;">Add
                    Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addTaskForm">
                    <div class="mb-3">
                        <label for="Title"
                            class="form-label">Title</label>
                        <input type="text" class="form-control"
                            id="Title" formControlName="Name"
                            [class.required]="this.addTaskForm.get('Name')?.touched && !this.addTaskForm.get('Name')?.valid"
                            placeholder="Task Title">
                    </div>
                    <div class="mb-3">
                        <label for="Description"
                            class="form-label">Description</label>
                        <textarea class="form-control"
                            id="Description" rows="3"
                            formControlName="Description"
                            placeholder="Any important notes or instructions?"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="priority"
                                class="form-label">Priority</label>
                            <select class="form-select " id="priority"
                                aria-label="Default select example"
                                formControlName="PriorityId">
                                @for (prio of Priorities ; track prio){
                                <option
                                    [ngValue]="prio.Id">{{prio.Name}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="DeadLine"
                                class="form-label">DeadLine</label>
                            <input type="date" class="form-control"
                                placeholder="DeadLine"
                                formControlName="DeadLine">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal" #closeAddModal>Close</button>
                    <button type="button" class="btn btn-primary"
                        (click)="addEditTask()">Save
                        changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
