 <div class="d-flex justify-content-center">

    <table class="table table-primary">
        <thead>
            <th>x</th>

        </thead>
        <tbody>
            <tr>
                <div class="card">HI
                    HI
                    <span>
                        <button type="button"
                            class="btn btn-success">Success</button>
                    </span>
                    <span>
                        <button type="button"
                            class="btn btn-danger">Danger</button>
                    </span>
                    <span>
                        <button type="button"
                            class="btn btn-warning">Warning</button>
                    </span>
                </div>
            </tr>

        </tbody>
    </table>
</div>
