.card {

    display: flex;
    margin: 1%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: cursive;

}

.card:hover {
    cursor: pointer;
}

.task-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button:hover {
    background-color: #8080801a;
}



.dropdown-toggle::after {
    display: none;
    /* removes the arrow */
}

/* ----------------------------------- */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body,
.card-header,
.card-footer {
    width: 100%
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    border: none;

    font-weight: bold;
    color: #46419b;
}

.card-footer {
    font-family: cursive;
}

.modal-info {
    display: flex;
    justify-content: space-around;
}

.modal-info>p{
        width: 33%;
}