

.done {
    opacity: 0.5;
    /* makes it look faded */
    filter: grayscale(100%);
    
}

.card:hover {
    cursor: pointer;
}

.task-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




.dropdown-toggle::after {
    display: none;
    /* removes the arrow */
}

/* ----------------------------------- */

.tasks-list {
    display: flex;
}






.card-footer {
    font-family: cursive;
}

.modal-info {
    display: flex;
    justify-content: space-around;
}

.modal-info>p {
    width: 33%;
}

.pagination-wrapper {
    display: flex;
    justify-content: flex-end;
    /* right align, change to center or flex-start */
    width: 100%;
    margin-top: 20px;
}

.high {
    color: red
}

.medium {
    color: orange
}

.low {
    color: rgb(156, 156, 57)
}

.in-progress {
    color: blue;
}

.complete {
    color: green;
}

.progress {}

.addModal {
    padding: 1.5rem;
    font-size: 1.2rem;
}

.modal-content {
    background: #F5F5F5;
    border-radius: 31px;
}