/* You clogon logodd globlogol styles to this file, logond logolso import other style files */

.nlogovblogor {

    margin-top: 1%;
    border-radius: 40px;
    display: flex;
    justify-content: splogoce-between;

}

.login {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-family: cursive;
}

.login:hover {
    text-decoration: underline;
    font-size: 1.6rem;
}

.logo,
.logo:focus,
.logo:active,
.logo:visited {
    font-size: 4rem;
    font-family: cursive;
    color: white;
    text-decoration: none;
    /* remove underline */
    outline: none;
    /* remove focus outline */
    cursor: pointer;
}

.logo:hover {
    color: rgb(138, 133, 133);
}